version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "${HOST_PORT}:${PORT}"
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
